
page {
    background-color: #F5F8F7;
}

#azm-index {
    line-height: 1;
}


.banners .wx-swiper-dots.wx-swiper-dots-horizontal {
}

.banners .wx-swiper-dot {
    width: 30*1rpx;
    display: inline-flex;
    height: 5*1rpx;
    justify-content: space-between;
}

.banners .wx-swiper-dot::before {
    content: '';
    flex-grow: 1;
    background: #cccccc;
    border-radius: 20*1rpx
}

.banners .wx-swiper-dot-active::before {
    background: #FFFFFF;
}

/* 顶部搜索 */
.searchBox {
    background-color: #ffffff;
    padding: 20*1rpx 37*1rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
}

.location text {
    font-size: 29*1rpx;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 266*1rpx;
}

.location image {
    width: 37*1rpx;
    height: 37*1rpx;
    margin-right: 20*1rpx;
}

.searchFarme {
    display: flex;
    background: #F5F8F7;
    border-radius: 30*1rpx;
    width: 288*1rpx;
    height: 60*1rpx;
    align-items: center;
    font-size: 26*1rpx;
    color: #999999;
}

.searchFarme image {
    width: 36*1rpx;
    height: 36*1rpx;
    margin-left: 17*1rpx;
    margin-right: 8*1rpx;
}


/* 轮播图 */
.banners {
    height: 466*1rpx;
    width: 100%;
    padding-left: 37*1rpx;
    padding-right: 37*1rpx;
    background-color: #ffffff;
    box-sizing: border-box;
}

.banners image {
    border-radius: 10*1rpx;
    width: 100%;
    height: 100%;
}


/* 首页iocn */
#azm-index .azm-grid {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    padding: 0 0 32*1rpx;
    font-size: 20*1rpx;
    color: #6F7578;
    border-bottom: 1px solid #eeeeee;
}

#azm-index .azm-grid view {
    line-height: 1;
}

#azm-index .azm-grid > .flexBox-item {
    margin-top: 32*1rpx;
    width: 20%;
    font-size: 20*1rpx;
    color: #6F7578;
}

#azm-index .azm-grid > .flexBox-item .area-icon {
    width: 77*1rpx;
    height: 77*1rpx;
    margin-bottom: 23*1rpx;
}

#azm-index .azm-grid > .flexBox-item .area-icon2 {
    width: 50*1rpx;
    height: 50*1rpx;
    margin-bottom: 23*1rpx;
}

/* 优享惠卡 */
.cardBox {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-right: 0;
    padding-bottom: 30*1rpx;
}

.card-title {
    font-size: 37*1rpx;
    color: #333333;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20*1rpx;
    margin-top: 20*1rpx;
}

.card-subhead {
    font-size: 26*1rpx;
    text-align: center;
    color: #999999;
}

.scrollCard {
    width: 100%;
    height: 206*1rpx;
    display: flex;
    padding-left: 37*1rpx;
    white-space: nowrap;
    padding-right: 0;
    margin-top: 33*1rpx;
    box-sizing: border-box;
}

.scrollCard-two {
    padding-left: 37*1rpx;
    padding-right: 37*1rpx;
    box-sizing: border-box;
    width: 100%;
    height: 423*1rpx;
    display: flex;
    white-space: nowrap;
    margin-top: 33*1rpx;
}

.scrollCard-two image {
    border-radius: 10*1rpx;
    width: 100%;
    height: 100%;
}

.cardDetail {
    width: 333*1rpx;
    height: 100%;
    display: inline-block;
    margin-right: 18*1rpx;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;

}


.cardDetail-two {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;

}

.cardBackgroundPicture {
    border-radius: 10*1rpx;
    width: 100%;
    height: 100%;
}


.cardContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30*1rpx;
}


.cardContent-two {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50*1rpx;
}

.cardTitle {
    font-size: 28*1rpx;
    color: #ffffff;
    margin-bottom: 18*1rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.cardTitle-two {
    font-size: 45*1rpx;
    color: #ffffff;
    margin-bottom: 30*1rpx;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardSubhead {
    font-size: 20*1rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
}


.cardSubhead-two {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 40*1rpx;
    color: #FFFFFF;
}

.cardPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40*1rpx;
}

.cardPrice text {
    font-size: 26*1rpx;
    color: #FFFFFF;
    font-weight: 500;
}

.cardPrice span {
    font-size: 28*1rpx;
    color: #FFFFFF;
    font-weight: 500;
}

.cardPrice span i {
    font-size: 14*1rpx;
    color: #FFFFFF;
}


.cardPrice-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120*1rpx;
}

.cardPrice-two text {
    font-size: 40*1rpx;
    color: #FFFFFF;
}

.cardPrice-two span {
    font-size: 45*1rpx;
    color: #FFFFFF;
}

.cardPrice-two span i {
    font-size: 24*1rpx;
    color: #FFFFFF;
}


.cardValidity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14*1rpx;
    color: #FFFFFF;
    margin-top: 10*1rpx;
}


.cardValidity-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24*1rpx;
    color: #FFFFFF;
    margin-top: 20*1rpx;
}

/* 特色拼团 */
.groupBox {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-right: 0;
    padding-bottom: 30*1rpx;
}

.group-title {
    text-align: center;
    font-size: 37*1rpx;
    color: #333333;
    font-weight: 500;
    margin-bottom: 20*1rpx;
    margin-top: 20*1rpx;
}

.group-subhead {
    text-align: center;
    font-size: 26*1rpx;
    color: #999999;
}

.scrollGroup {
    padding-left: 37*1rpx;
    width: 100%;
    height: 330*1rpx;
    display: flex;
    white-space: nowrap;
    margin-top: 33*1rpx;
    box-sizing: border-box;
}


.scrollGroup-two {
    padding-left: 37*1rpx;
    padding-right: 37*1rpx;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    white-space: nowrap;
    margin-top: 33*1rpx;
}


.groupDetail {
    width: 213*1rpx;
    height: 100%;
    display: inline-block;
    margin-right: 18*1rpx;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;
}


.groupDetail-two {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;
}

.groupSign {
    background-image: linear-gradient(-135deg, #FFC17A 0%, #EE557D 100%);
    position: absolute;
    font-size: 24*1rpx;
    color: #FFFFFF;
    width: 82*1rpx;
    height: 30*1rpx;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 30*1rpx;
    border-radius: 4*1rpx;
}

.groupPicture {
    border-radius: 10*1rpx;
    width: 100%;
    height: 213*1rpx;
}


.groupPicture-two {
    border-radius: 10*1rpx;
    width: 100%;
    height: 330*1rpx;
}

.groupName {
    margin-top: 20*1rpx;
}

.gropTitle {
    font-size: 24*1rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
}

.groupPrice {
    display: flex;
    margin-top: 18*1rpx;
}

.rulingPrice {
    font-size: 29*1rpx;
    color: #F74884;
    margin-right: 13*1rpx;
}

.rulingPrice i {
    font-size: 20*1rpx;
    color: #F74884;
}

.originalPrice {
    font-size: 20*1rpx;
    color: #999999;
    text-decoration: line-through;
    margin-top: 7*1rpx;
}


.groupText {
    font-size: 25*1rpx;
    color: #F74884;
    font-weight: 500;
}


/* 店铺推荐 */
.shopBox {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-right: 0;
    padding-bottom: 30*1rpx;
}


.shop-title {
    text-align: center;
    font-size: 37*1rpx;
    color: #333333;
    font-weight: 500;
    margin-bottom: 20*1rpx;
    margin-top: 20*1rpx;
}

.shop-subhead {
    text-align: center;
    font-size: 26*1rpx;
    color: #999999;
}


.scrollShop {
    padding-left: 37*1rpx;
    width: 100%;
    height: 430*1rpx;
    display: flex;
    white-space: nowrap;
    padding-right: 0;
    margin-top: 33*1rpx;
    box-sizing: border-box;
}

.scrollShop-two {
    padding-left: 37*1rpx;
    padding-right: 37*1rpx;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    white-space: nowrap;
    margin-top: 33*1rpx;
}

.shopDetail {
    width: 330*1rpx;
    height: 100%;
    display: inline-block;
    margin-right: 18*1rpx;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;
}

.shopDetail-two {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;
}

.shopPicture {
    border-radius: 10*1rpx;
    width: 100%;
    height: 330*1rpx;
}

.shopPicture-two {
    border-radius: 10*1rpx;
    width: 100%;
    height: 423*1rpx;
}


.shopName {
    margin-top: 26*1rpx;
}

.shopTitle {
    font-size: 24*1rpx;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shopFlex {
    display: flex;
    justify-content: space-between;
    margin-top: 15*1rpx;
}

.shopPrice2 {
}

.rulingPrice2 {
    font-size: 29*1rpx;
    color: #F02929;
    margin-right: 13*1rpx;
}

.rulingPrice2 i {
    font-size: 20*1rpx;
    color: #F02929;
}

.originalPrice2 {
    font-size: 20*1rpx;
    color: #999999;
    text-decoration: line-through;
    margin-top: 7*1rpx;
}


.shopLike {
    font-size: 20*1rpx;
    color: #999999;
    display: flex;
    align-items: center;
}

.shopLike image {
    width: 25*1rpx;
    height: 25*1rpx;
    margin-right: 10*1rpx;
}


/* 季节主推 */
.seasonBox {
    background-color: #ffffff;
    padding-bottom: 105*1rpx;
    box-sizing: border-box;
}

.season-title {
    text-align: center;
    margin-top: 30*1rpx;
    font-size: 37*1rpx;
    color: #333333;
    font-weight: 500;
    margin-bottom: 20*1rpx;
}

.season-subhead {
    text-align: center;
    font-size: 26*1rpx;
    color: #999999;
}


.scrollSeason {
    width: 100%;
    height: 206*1rpx;
    display: flex;
    padding-left: 37*1rpx;
    white-space: nowrap;
    padding-right: 0;
    margin-top: 33*1rpx;
    box-sizing: border-box;
}


.scrollSeason-two {
    width: 100%;
    height: 423*1rpx;
    display: flex;
    white-space: nowrap;
    margin-top: 33*1rpx;
    padding-left: 37*1rpx;
    padding-right: 37*1rpx;
    box-sizing: border-box;
}

.seasonDetail {
    width: 333*1rpx;
    height: 100%;
    display: inline-block;
    margin-right: 18*1rpx;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;
}


.seasonDetail-two {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10*1rpx;
}

.seasonPicture {
    border-radius: 10*1rpx;
    width: 100%;
    height: 100%;
}


.seasonPicture-two {
    border-radius: 10*1rpx;
    width: 100%;
    height: 100%;
}


/* 店铺介绍*/
.shopIntroduce {
    padding-left: 37*1rpx;
    padding-right: 37*1rpx;
    padding-bottom: 30*1rpx;
    text-align: center;

}

.shopPhoto {
    width: 100*1rpx;
    height: 100*1rpx;
    border-radius: 50%;
    margin-top: -50*1rpx;
}

.storeName {
    font-size: 29*1rpx;
    color: #323232;
    font-weight: 500;
    margin-top: 30*1rpx;
    margin-bottom: 15*1rpx;
}

.shopIntro {
    font-size: 26*1rpx;
    color: #999999;
}

.shopMore {
    font-size: 26*1rpx;
    color: #666666;
    display: flex;
    align-items: center;
    margin-top: 20*1rpx;
    justify-content: center;

}


.shopTime {
}

.shopLine {
    width: 1px;
    margin-left: 20*1rpx;
    margin-right: 13*1rpx;
    height: 22*1rpx;
    background-color: #999999;
}


.knowMore {
    display: flex;
    align-items: center;

}

.knowMore image {
    width: 25*1rpx;
    height: 25*1rpx;
    margin-left: 7*1rpx;
}

.shopLocation {
    font-size: 26*1rpx;
    color: #999999;
    margin-top: 46*1rpx;
}


.shopBottom {
    width: 446*1rpx;
    height: 60*1rpx;
    background: #FFFFFF;
    box-shadow: 0 5*1rpx 10*1rpx 0 rgba(210, 210, 210, 0.50);
    border-radius: 30*1rpx;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    margin-top: 45*1rpx;
}

.locationShop {
    width: 50%;
    height: 100%;
    border-right: 1px solid #F1F1F1;
    display: flex;
    font-size: 26*1rpx;
    align-items: center;
    color: #999999;
}

.locationShop image {
    width: 50*1rpx;
    margin-right: 27*1rpx;
    margin-left: 6*1rpx;
    height: 50*1rpx;
}

.shopPhone {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 26*1rpx;
    align-items: center;
    justify-content: space-between;
    padding-left: 30*1rpx;
    padding-right: 6*1rpx;
    color: #999999;
    box-sizing: border-box;

}

.shopPhone image {
    width: 50*1rpx;
    height: 50*1rpx;
}


.whiteBg {
    height: 70*1rpx;
    width: 100%;
    background-color: #ffffff;
}


.grayBg {
    height: 20*1rpx;
    width: 100%;
    background-color: #eeeeee;
}
